@using Services.CategoryService
@using Services.SubCategoryService
@inject ICategoryService CategoryService
@inject ISubCategoryService SubCategoryService

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ShaveShop</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>



<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" @onclick="()=>SubSelection(-1)">
                 Home
            </NavLink>
        </div>


        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@CategoryService.Categories[0].Url" @onclick="()=>SubSelection(0)">
                @CategoryService.Categories[0].Name
            </NavLink>
            @if (expandRazors)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-2 py-1">
                        <NavLink class="nav-link" href="@SubCategoryService.SubCategories[0].Url">
                            @SubCategoryService.SubCategories[0].Name
                        </NavLink>
                    </li>
                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="@SubCategoryService.SubCategories[1].Url">
                            @SubCategoryService.SubCategories[1].Name
                        </NavLink>
                    </li>
                </ul>
            }
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@CategoryService.Categories[1].Url" @onclick="()=>SubSelection(1)">
                @CategoryService.Categories[1].Name
            </NavLink>
            @if (expandBrushes)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-2 py-1">
                        <NavLink class="nav-link" href="@SubCategoryService.SubCategories[2].Url">
                            @SubCategoryService.SubCategories[2].Name
                        </NavLink>
                    </li>
                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="@SubCategoryService.SubCategories[3].Url">
                            @SubCategoryService.SubCategories[3].Name
                        </NavLink>
                    </li>
                </ul>
            }

        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@CategoryService.Categories[2].Url" @onclick="()=>SubSelection(2)">
                @CategoryService.Categories[2].Name
            </NavLink>
            @if (expandCreamSoap)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-2 py-1">
                        <NavLink class="nav-link" href="@SubCategoryService.SubCategories[4].Url">
                            @SubCategoryService.SubCategories[4].Name
                        </NavLink>
                    </li>
                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="@SubCategoryService.SubCategories[5].Url">
                            @SubCategoryService.SubCategories[5].Name
                        </NavLink>
                    </li>
                </ul>
            }
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="@CategoryService.Categories[3].Url" @onclick="()=>SubSelection(3)">
                @CategoryService.Categories[3].Name
            </NavLink>
            @if (expandAfterShaves)
            {
                <ul class="nav flex-column">
                    <li class="nav-item px-2 py-1">
                        <NavLink class="nav-link" href="@SubCategoryService.SubCategories[6].Url">
                            @SubCategoryService.SubCategories[6].Name
                        </NavLink>
                    </li>
                    <li class="nav-item px-2">
                        <NavLink class="nav-link" href="@SubCategoryService.SubCategories[7].Url">
                            @SubCategoryService.SubCategories[7].Name
                        </NavLink>
                    </li>
                </ul>  
            }
        </div>
    
       
        <!--
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        -->
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool expandRazors;
    private bool expandBrushes;
    private bool expandCreamSoap;
    private bool expandAfterShaves;


    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await CategoryService.GetCategories();
        await SubCategoryService.GetSubCategories();
    }

    private void SubSelection(int choice)
    {
        if (choice == 0)
        {
            expandRazors = expandRazors == true ? false : true;
            expandBrushes = false;
            expandCreamSoap = false;
            expandAfterShaves = false;
        }
        else if (choice == 1)
        {
            expandRazors = false;
            expandBrushes = expandBrushes == true ? false : true;
            expandCreamSoap = false;
            expandAfterShaves = false;
        }
        else if (choice == 2)
        {
            expandRazors = false;
            expandBrushes = false;
            expandCreamSoap = expandCreamSoap == true ? false : true;
            expandAfterShaves = false;
        }
        else if (choice == 3)
        {
            expandRazors = false;
            expandBrushes = false;
            expandCreamSoap = false;
            expandAfterShaves = expandAfterShaves == true ? false : true;
        }
        else
        {
            expandRazors = false;
            expandBrushes = false;
            expandCreamSoap = false;
            expandAfterShaves = false;
        }
    }
}
